# https://www.thoughtworks.com/insights/blog/signing-open-source-android-apps-without-disclosing-passwords
keyStore=filename.keystore
keyStorePassword=...
keyAlias=filename.abctotaal
keyAliasPassword=...
